*{ box-sizing: border-box;}
html, body{ height: 100%;
overflow-x: hidden;}


@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Helvetica;
    src: url("../fonts/HelveticaRegular.ttf");
}

  
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: Helvetica;
    src: url("../fonts/HelveticaLight.ttf");
}

@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: Helvetica;
    src: url("../fonts/HelveticaLightItalic.ttf");
}

p, ul, li, ol, u, th, td, a, select, input, label { 
    font-family: 'Helvetica'; 
}

p::selection , p::selection, ul::selection, li::selection,
 ol::selection, u::selection, th::selection, td::selection, 
 a::selection, select::selection, input::selection, label::selection {
    color: #fff;
    background-color: #3f3f3f; 
}

a{ 
    font-family: 'Helvetica'; 
    text-decoration: none;
    color: black;
}

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    transition: opacity 0.5s ease;
    transition-delay: 0.2s;
}

.square {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.plus1, .plus2 {
    width: 75px;
    height: auto;
    display: block;
    position: absolute;
    z-index: 9;
    animation: plus1anim 2s ease-in-out infinite;
}

.plus2 {
    animation: plus2anim 2s ease-in-out infinite;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

@keyframes plus1anim {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(180deg);
      }
}

@keyframes plus2anim {
    0%{
       transform: rotate(180deg);
      }
   100%{
       transform: rotate(0deg);
      }
}

.rock {
    width: 16vw;
    height: auto;
    display: block;
    position: absolute;
    cursor: crosshair;
    z-index: 5;
}

.rock.transition {
    transition: left 0.5s, top 0.5s ease-in-out;
}

.rock img {
    width: 100%;
    height: 100%;
}

.manifest {
    width: 17vw;
    top: 2vw;
    left: 7vw;
}


.products {
    top: 15vw;
    left: 30vw;
}

.book {
    width: 13vw;
    top: 4vw;
    left: 60vw;
}

.anons {
    width: 14vw;
    top: 20vw;
    left: 80vw;
}


.promo {
    top: 35vw;
    left: 5vw;
}

.contact {
    top: 30vw;
    left: 45vw;
}

.web {
    top: 40vw;
    left: 75vw;
}

.trail {
    width: 9vw;
    height: 9vw;
    position: absolute;
    background-image: url("../img/chalk.png");
    background-size: no-repeat;
    background-size: cover;
    z-index: 4;
    opacity: 0.5;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.corner {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    display: block;
    position: absolute;
}

.lefttop {
    border-top: none;
    border-left: none;
    top: 0px;
    left: 0px;
}

.leftbottom {
    border-bottom: none;
    border-left: none;
    bottom: 0px;
    left: 0px;
}

.righttop{
    border-top: none;
    border-right: none;
    right: 0px;
    top: 0px;
}

.rightbottom{
    border-bottom: none;
    border-right: none;
    right: 0px;
    bottom: 0px;
}

.plus {
    width: 4vw;
    height: auto;
    display: block;
    position: absolute;
    left: 48%;
}

.name {
    display: block;
    position: absolute;
    left: 2vw;
}

.name p{
    line-height: 1.7vw;
}

.plus img{
    width: 100%;
    height: 100%;
}

.top {
    top: 0;
    justify-content: center;
}

.bottom {
    bottom: 0;
    align-items: center;
}

.coloumn {
    margin-left: 30vw;
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 3vw;
}

.coloumn-item {
    display: inline-block;
    width: 14vw;
    vertical-align: top;
}

.contact {
    display: block;
    position: absolute;
}

.vk {
    cursor: pointer;
    top: 7vw;
    left: 15vw;
}

.productdiv {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.email {
    top: 15vw;
    left: 35vw;
}

.adress {
    top: 40vw;
    left: 80vw;
}

.card {
    display: block;
    position: absolute;
}

.stickers {
    width: 14vw;
    top: 2vw;
    left: 16vw;
}

.postcard {
    width: 14vw;
    height: auto;
    top: 6vw;
    left: 52vw;
}

.shirt{
    width: 28vw;
    height: auto;
    top: 9vw;
    left: 68vw;
}

.flag {
    width: 28vw;
    height: auto;
    top: 23vw;
    left: 2vw;
}

.disk {
    width: 34vw;
    height: auto;
    top: 26vw;
    left: 32vw;
}

.postcard img, .shirt img, .flag img, .disk img, .stickers img{
    width: 100%;
}

.sticker_text {
    width: 14vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 16vw;
    top: 19vw;
}

.postcard_text {
    width: 14vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 52vw;
    top: 22.2vw;
}

.shirt_text {
    width: 28vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 68vw;
    top: 44.2vw;
}

.flag_text {
    width: 28vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 2vw;
    top: 44.2vw;
}

.disk_text {
    width: 34vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 32vw;
    top: 48.8vw;
}

.add {
    display: block;
    height: 2vw;
    cursor: pointer;
}

.add img{
    height: 100%;
    width: 100%;
}

.cart {
    position: absolute;
    left: 2vw;
    top: 19vw;
}

.cart a{
    text-decoration: none;
    color: black;
}

.book-cover{
    box-shadow: 0 0 2vw rgb(225, 225, 225);
}

.book-cover img{
    width: 28vw;
}


.cover_description {
    position: absolute;
    width: 55vw;
    top: 8vw;
    left: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: end;
}


.cover_description p{
    color: black;
}

/* .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
    justify-content: center;
}

.error_modal {
    position: relative;
    margin: auto;
    background-color: white;
    width: 60vw;
    height: 40vw;
    z-index: 11;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    animation-name: popup;
    animation-duration: 0.6s;
} */

.error_modal_pic{
    margin-left: 3vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 40vw;
    height: 30vw;
}

.listalka {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
    align-items: center;
}

.pages {
    width: 40vw;
    display: block;
}

.pages img{
    width: 100%;
    height: auto;
    display: none;
    box-shadow: 0 0 1vw rgb(225, 225, 225);
}

.pages img.activep {
    display: block;
}

#cover {
    margin-left: 4vw;
    width: 28vw;
}

#razvorot {
    width: 55vw;
    margin-left: -7vw;
}


.backwards, .forwards {
    font-size: 2vw;
    cursor: pointer;
    user-select: none
}

table {
    width: 60vw;
    margin-left: 2vw;
    margin-top: 3vw;
    border-collapse: collapse;
    position: relative;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding: 1vw 1vw 0.2vw 1vw;
}


tr * {
    border-top: none;
    border-left: none; 
    border-right: none; 
}


.poster_description {
    position: absolute;
    width: 65vw;
    top: 6vw;
    left: 25vw;
    display: flex;
    align-items: end;
}

.poster {
    width: 28vw;
    display: block;
    box-shadow: 0 0 1vw rgb(225, 225, 225);
}

.arrows {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
    align-items: center;
}

.next, .prev {
    font-size: 2vw;
    cursor: pointer;
    user-select: none
}


.poster img {
    display: none;
    width: 100%;
}

.poster img.active {
    display: block;
}

.book_description {
    position: relative;
    left: 3vw;
    display: block;
}

.book_description p {
    display: none;
}

.book_description p.active {
    display: block;
}

.falling_rocks {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    pointer-events: none;
}

.falling {
    width: 20vw;
    position: absolute;
    cursor: grabbing;
}

.falling img{
    width: 100%;
}


/* 
@keyframes fall {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes popup {
    from {top:-35vw;}
    to {bottom: 0;}
} */

select, input {
    display: block;
    width: 15vw;
    position: relative;
    height: 2.5vw;
    padding: 0.5vw;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 1vw;
    appearance: none;
    border-radius: 0;
    outline: none;
    text-transform: lowercase;
}

input::placeholder{
    color: black;
}

input[type="radio"] {
    display: none;
}

.custom-radio {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked+.custom-radio {
    background-color:black;
}

.delivery {
    margin-top: 12vw;
    margin-left: 2vw;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black;
    border-left: none;
}

.delivery-radio {
    margin-top: 2vw;
    margin-left: 2vw;
}

.oformit{
    width: 15vw;
    height: 2.5vw;
    margin-left: 47vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
    position: relative;
    overflow: hidden;
}

.oformlenie {
    border: 1px solid #000000;
    background: white;
    color: black;
    font-weight: 400;
    font-size: 1vw;
    position: relative;
    width: 15vw;
    height: 2.5vw;
    padding: 0.5vw;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    transition: color 300ms ease, transform 300ms ease;

    &:hover, &:focus {
      color: #fff;
      cursor: pointer;
    }

    &:hover + .overlay,
    &:focus + .overlay {
      transform: translateY(calc(-100% + 2px));
    }

    &:active {
        transform: scale(0.8);
    }
    
    &:active + .overlay {
        transform: translateY(calc(-100% + 2px)) scale(0.8);
    }
}

/* .oformlenie:hover {
    background-color: black;
    color: white;
} */

.overlay {
    background-color:black;
    height: calc(100% + 2px);
    width: 100%;
    position: absolute;
    bottom: calc(-100% - 2px);
    left: 0;
    z-index: -1;
    transition: transform 300ms ease;
}
